@model Gallery
<form asp-action="Edit" asp-controller="Gallery" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="GalleryId" />
    <input type="hidden" asp-for="GalleryPicture" />
    <div class="mb-3">
        <label for="GalleryPicture" class="form-label">profileImage</label>
        <input type="file" name="file" asp-for="GalleryPicture" class="form-control" id="GalleryPicture" aria-describedby="GalleryPicture">
        <span asp-validation-for="GalleryPicture"></span>
    </div>
    <button type="submit" asp-action="Edit" asp-controller="Galllery">Edit</button>
    <a asp-action="Index" asp-controller="Gallery">Back To List</a>
</form>