@model List<Gallery>
<table class="table">
    <thead>
        <tr>
            <th scope="col">GalleryPicture</th>
 </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            
            <tr>
                <td src="~/@obj.GalleryPicture"></td>
                <td>
                    <a asp-action="Edit" asp-controller="Gallery" asp-route-id="@obj.GalleryPicture">Edit</a>
                    <a asp-action="Delete" asp-controller="Gallery" asp-route-id="@obj.GalleryPicture">Delete</a>
                </td>
            </tr>
        }
        <a asp-action="Create" asp-controller="Gallery" class="btn btn-primary">Create</a>
    </tbody>
</table>